<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Travel clip</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="facebookLogin()">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      Connexion avec Facebook
    </ion-button>
  </div>
</ion-content>
